@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Libre+Franklin:wght@500&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:  border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #34495e;
}
.wrapper{
    display: flex;
}
.wrapper .Teks-diam{
    color:#fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .Teks-berjalan{
    margin-left: 15px;
    height: 90px;
    line-height: none;
    overflow: hidden;
}
.Teks-berjalan{
    list-style: none;
    color:#e74c3c;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s step(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.Teks-berjalan li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.Teks-berjalan li span::after{
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    background: #34495e;
    border-left: 2px solid  #e74c3c;
    animation: typing 3s steps(10) infinite;

    }
    @keyframes typing{
    40%,60%{
        left: calc(100%+ 30px);
    }
    100%{
        left: 0;
    }
}